extends layout

block content
  .container
    h1= file.name
    a(href=file.link target="_blank")
      img(src=srcSlash + file.imgsrc, alt="img")
    p= file.lgdesc
    p
      a(href=file.link target="_blank") Découvrir
    p
      a(href="/") Retour