extends layout

block content
  h1= message
  if posts
    each post, index in posts
      if index % 3 == 0
        .row
          - var n = 0
          while n < 3
            - var i = index + n
            - n++
            if posts[i]
              - var item = posts[i]
              .col-md-4.portfolio-item
                a(target='_blank' href='#')
                  img.img-responsive(src=item.imgsrc alt='une_image')
                h3
                  a(target='_blank' href='#') #{item.name}
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas purus ligula, eu scelerisque augue viverra a amet.
                if session.admin
                  p
                    a(href="form/edit/" + item.id) Editer le post
                    br
                    a(href="form/del/" + item.id) Supprimer le post

    //h2 Pagination: #{pageNb} page(s)
    - var page = 0;
    nav
      ul.justify-content-center.pagination.pagination-lg
        while page < pageNb
          - page++
          li.page-item
            a.page-link( href="page" + page ) #{page}
  else
    p Sorry boby mais on dirait bien qu'il n'y a pas de post